<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3><%= blog_post.date %> </h3>
    <p><%= blog_post.author %> </p>
    <p><%= blog_post.text %> </p>
    
    <h3>Comments</h3>
    <%= blog_post.comments %> 
    <form action="" method="post">
        <textarea name="newComment" id="" cols="30" rows="5">Add comment</textarea>
        <button>Submit Comment</button>
    </form>
     
  </body>
</html>
