<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (user) { %>
      <p> <%= user._id %> </p>
      <a href="/user/logout">Logout</a>

      <a href="/blog/post/create">Create Post</a>
    <% } %>  

    <% if (error != undefined) { %>
      <p> Error getting dynamic content. </p>
    <% } else { %>
      <p> The Blog has the following post counts: </p>
    <% } %>
    <ul>
      <li><%= data.post_count %> </li>
    </ul>
    <a href="/user/sign-up">Sign up</a>
    <a href="/user/login">Login</a>
    <a href="/blog/posts">Posts</a>
     
  </body>
</html>
